body {
  margin: 0px;
  background-color: white;
}

.header {
    display: flex;
    align-items: center;
    background-color: black;
    font-size: 28pt;
    text-align: center;


}

div.account {
  padding: 25px;
  position: fixed;
  right: 0px;
}

div.signup {
  display: inline-block;
  color: white;
  cursor: pointer;
  font-size: 20px;
}

div.login {
  display: inline-block;
  color: white;
  cursor: pointer;
  font-size: 20px;
}

.header #logo {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 25px;
}

.header .page {
    display: inline-block;
    color: white;
    margin: 10px;
}

div.sidebar {
  /* float: left; */
  background-color: yellow;
  /* width: 100px; */
  display: inline-block;
  height: 100vh;
}

div.main {
  /* float: right; */
  /* display: inline-block; */
}

div.info {
  padding: 10px;
}

.map {
  margin: 10px;
  width: 50%;
  border: black 2px solid;
  border-radius: 10px;
}

iframe {
  width: 100%;
  border-radius: 10px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  font-size: 18pt;
  text-align: center;
  padding: 20px;
}

.footer #logo {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 10px;
}

.footer .page {
  display: inline-block;
  color: black;
  margin: 10px;
}

.text1{background-color: white; color: darkblue; text-align: justify; width: 40%;
padding: 12pt; margin-top: 21pt; border: blue 10px solid; border-radius: 20px; }

.text1 img{width: 40%; padding: 22pt;}
.text2{background-color: purple; color: lightskyblue; text-align: justify; width: 40%; padding: 10pt; border: red 10pt solid; border-radius: 20px;}
.text2 img{width: 40%; padding: 22pt;}